<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Invoice Print | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=3.2.3">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=3.2.3">
</head>

<body class="bg-white" onload="printPromot()">
    <div class="nk-block">
        <div class="invoice invoice-print">
            <div class="invoice-wrap">
                <div class="invoice-brand text-center">
                    <img src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="">
                </div>
                <div class="invoice-head">
                    <div class="invoice-contact">
                        <span class="overline-title">Facture de</span>
                        <div class="invoice-contact-info">
                            <h4 class="title">Magasin 1</h4>
                            <ul class="list-plain">
                                <li><em class="icon ni ni-map-pin-fill fs-18px"></em><span>Bamako, Kalaban coura</span></li>
                                <li><em class="icon ni ni-call-fill fs-14px"></em><span>+012 8764 556</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="invoice-desc">
                        <h3 class="title">Facture</h3>
                        <ul class="list-plain">
                            <li class="invoice-id"><span>Facture ID</span>:<span>66K5W3</span></li>
                            <li class="invoice-date"><span>Date</span>:<span>26 Jan, 2020</span></li>
                        </ul>
                    </div>
                </div><!-- .invoice-head -->
                <div class="invoice-bills">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="w-150px">Reference</th>
                                    <th class="w-40">Designation</th>
                                    <th>statut</th>
                                    <th>Prix</th>
                                    <th>Qté</th>
                                    <th>Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>24108054</td>
                                    <td>Dashlite - Conceptual App Dashboard - Regular License</td>
                                    <td>c</td>
                                    <td>40.00</td>
                                    <td>5</td>
                                    <td>200.00</td>
                                </tr>
                                                        
                                <tr>
                                    <td>24108054</td>
                                    <td>Dashlite - Conceptual App Dashboard - Regular License</td>
                                    <td>c</td>
                                    <td>40.00</td>
                                    <td>5</td>
                                    <td>200.00</td>
                                </tr>
                                <tr>
                                    <td>24108054</td>
                                    <td>6 months premium support</td>
                                    <td>c</td>
                                    <td>25.000000</td>
                                    <td>1</td>
                                    <td>25.00</td>
                                </tr>
                                <tr>
                                    <td>23604094</td>
                                    <td>Invest Management Dashboard - Regular License</td>
                                    <td>c</td>
                                    <td>131.25</td>
                                    <td>1</td>
                                    <td>131.25</td>
                                </tr>
                                <tr>
                                    <td>23604094</td>
                                    <td>6 months premium support</td>
                                    <td>c</td>
                                    <td>78.75</td>
                                    <td>1</td>
                                    <td>78.750000</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                    <td><strong>Subtotal</strong></td>
                                    <td>435.00 Fcfa</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td><strong>Réduction</strong></td>
                                    <td>-10.00 Fcfa</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td><strong>Grand Total</strong></td>
                                    <td>478.50 Fcfa</td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div><!-- .invoice-bills -->
            </div><!-- .invoice-wrap -->
        </div><!-- .invoice -->
    </div><!-- .nk-block -->
    <script>
        function printPromot() {
            window.print();
        }
    </script>
</body>

</html>